@import url('https://rsms.me/inter/inter.css');

html { 
	font-family: 'Inter', sans-serif;
}

body {
    background-color: #373737;
    color: white;
    min-height: 97vh;
}

.container {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.content {
	position: absolute;
	font-size: 15px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn_main {
	background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.btn_main:hover {
    border: 2px solid #42a5f5;
    color: #42a5f5;
}

.space_links {
	margin-top: 12px;
}

.space_links a {
	 text-decoration: none;
	 color: #42a5f5;
}

.space_links a:hover {
	 text-decoration: none;
	 color: #FFFFFF;
}